{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <h2>Liste des catégories</h2>
    
    {% if is_granted('ROLE_USER') %}
    <a href="{{path('category_new')}}">Nouvelle catégorie</a>
    {% endif %}

    {% for category in categories %}
        <h4>
            <a href="{{path('category_show', {id:category.id})}}">{{category.nom}}</a>
        </h4>
    {% endfor %}

{% endblock %}
